<div class="main-container">
  <div class="field">
    <p class="control has-icons-left">
      <input
        #filterInput
        class="input"
        type="text"
        (keyup)="filter($event)"
        placeholder="Filter"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-search"></i>
      </span>
    </p>
  </div>

  <div class="notes-list" [@listAnim]>
    <!-- title and body syntaxes are to assign the string value -->
    <!-- [title]="cardTitle" is used to assign the variable cardTitle value to the title -->
    <!-- <app-note-card title="cardTitle" [body]="'first paragraph'"></app-note-card> -->

    <app-note-card
      *ngFor="let note of filteredNotes"
      [link]="generateNoteuRL(note)"
      [@itemAnim]
      (delete)="deleteNote(note)"
      [title]="note.title"
      [body]="note.body"
    ></app-note-card>
  </div>

  <button class="button floating-add-button is-primary" routerLink="new">
    +Add
  </button>
</div>
