@import "../../../main-styles.scss";

.note-card-container {
  background: white;
  border-radius: 5px;

  box-shadow: 0px 2px 15px 2px rgba(black, 0.068);
  transition: box-shadow 0.2s ease-out;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 4px rgba(black, 0.068);
  }

  .note-card-content {
    padding: 20px;

    .note-card-title {
      font-size: 22px;
      font-weight: bold;
      color: $purple;
    }
  }
}
